<h1><%= @student.name %></h1>
<div id="student_image"><img alt="Profile picture" src="<%= @student.photo %>"></div></div>
<div class="clearfix" id="student_text">
<p class="student">
  <%= @student.bio %>
</p>
<div id="logo_div">
  <a href="http://<%= @student.twitter %>">
    <img class="logo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSjcLNVec7qObBeJSbfjjOWRxPomD9Qz1T0kXBcX_wN3wNVf--48g">
  </a>
  <a href="http://<%= @student.facebook %>">
    <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTziC1rVizY2UeMflCYy85U10z2oMWQiW0hEk3zuFy9r2oAKztMbg">
  </a>
  <a href="http://<%= @student.git %>">
    <img class="logo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRQGUe1gRCKmEMT12Bvp0HcOcHKk4RUo39OM_A8j1IaIrdbS26Q8g">
  </a>
</div>
</div>
<div class="clearfix"></div>