<h1><%= @student.name %></h1>
<div id="student_image"><img alt="Profile picture" src="<%= @student.photo %>"></div>
<div id="student_text">
  <p>
    <%= @student.bio %>
  </p>
  <div id="logo_div">
    <a href="http://<%= @student.twitter %>">
      <img class="logo" src="../images/twitter.png">
    </a>
    <a href="http://<%= @student.facebook %>">
      <img class="logo" src="../images/facebook.png">
    </a>
    <a href="http://<%= @student.git %>">
      <img class="logo" src="../images/github.png">
    </a>

  </div>
</div>
<div class="clearfix"></div>